.flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}